<!DOCTYPE html>
<html lang="en">


<head>

  <!-- Metas -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="keywords" />
  <meta name="description"  />
  <meta name="author" content="" />

  <!-- Title  -->
  <title>Genix Booster</title>

  <!-- Favicon -->


  <link rel="shortcut icon" href="{{ url_for("static", filename="assets/img/favicon.png") }}">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

  <!-- Plugins -->

  <link href="{{ url_for("static", filename="css/plugins.css") }}" rel="stylesheet">







  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for("static", filename="assets/vendor/animate.css/animate.min.css")}}" rel="stylesheet">

  <link href="{{ url_for("static", filename="assets/vendor/aos/aos.css")}}" rel="stylesheet">


  <link href="{{ url_for("static", filename="assets/vendor/bootstrap-icons/bootstrap-icons.css")}}" rel="stylesheet">

  <link href="{{ url_for("static", filename="assets/vendor/boxicons/css/boxicons.min.css")}}" rel="stylesheet">




  <!-- Template Main CSS File -->
  <link href="{{ url_for("static", filename="assets/css/style.css")}}" rel="stylesheet">



</head>

<body>

  <!-- =====================================
    	==== Start Loading -->

  <div class="loading">
    <div class="text-center middle">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">

        <a href="index.html"><img src="{{ url_for("static", filename="assets/img/logo.jpg") }}" alt="Genix Booster"
            class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/home">Home</a></li>
          <li><a data-toggle="modal" data-target="#exampleModal12">Download VCF</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <div class="modal fade" id="exampleModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <marquee behavior="" direction="" class="modal-title" id="exampleModalLabel">COMING SOON</marquee>
          <button type="button" data-toggle="modal" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>
    </div>
  </div>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up">
          <div>

            <h1>GENIX BOOSTER</h1>
            <h2>Are you tired of annoying status views? Search no further <b>GENIX BOOSTER</b> is here for you.</h2>

          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
          data-aos="fade-up">
          <img src="{{ url_for("static", filename="assets/img/hero-img.png") }}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  </head>

  <body>

    <!-- ======= Header ======= -->



  
      <h3 style='text-align: center'>Your Privacy</h3>
      <h4 style='text-align: center'> Please read Privacy Policy</h4>

     
     
     
      <h5><b>  Reservation of Rights</b></h5>
      
      We reserve the right to request that you remove all links or any particular link to our Website. You approve to
      immediately remove all links to our Website upon request. We also reserve the right to amend these terms and
      conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to
      and follow these linking terms and conditions.
      <h5><b> Removal of links from our website</b></h5>
      
      If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any
      moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.

      We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy;
      nor do we promise to ensure that the website remains available or that the material on the website is kept up to
      date.

      <h5><b>       Refunds      </b></h5>
      Customers who are not completely satisfied with our services may request a full refund within the first 30 days of
      their purchase. Refunds will be processed through our customer support agents. Refunds are not applicable to free
      credits or services. Genixbooster reserves the right to meet customer satisfaction and all refunds must be
      processed in due diligence and due process.
      <h5><b>       Service     </b></h5>

     
     <ol>
      <li>Genixbooster is not affiliated with WhatsApp, Facebook or any WhatsApp third-party partners in any way.
      <li>It is your sole responsibility to comply with WhatsApp rules and any legislation that you are subject to. You use
      Genixbooster at your own risk.</li>
      <li>We are not responsible for your actions and their consequences. We are not to blame if your WhatsApp account is
      banned for any reason.</li>
      <li>We require your WhatsApp Number to Compile. We do not store, give away, or otherwise distribute your username to
      any other third parties.</li>
      <li>The expected number of Contacts and views is not guaranteed to you in any way.</li>
      <li>We can’t guarantee the continuous, uninterrupted or error-free operability of the services.
      <li>You agree that upon purchasing our service, that you clearly understand and agree on what you are purchasing and
      will not file a fraudulent dispute via the payment processor.</li>
      <li>We reserve the right to modify, suspend or withdraw the whole or any part of our service or any of its content at
      any time without notice and without incurring any liability.</li>
     
     <li> It is your sole responsibility to check whether the Terms have changed.</li></ol>
      <h5><b>      Disclaimer    </b></h5>
     
      To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions
      relating to our website and the use of this website. Nothing in this disclaimer will:

      <ul>
        <li>  limit or exclude our or your liability for death or personal injury;</li>
          <li> limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
            <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
              <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                <li>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer:<br> (a) are
      subject to the preceding paragraph; and <br>(b) govern all liabilities arising under the disclaimer, including
      liabilities arising in contract, in tort and for breach of statutory duty.</li>

      </ul>
      As long as the website and the information and services on the website are provided For Almost free of charge, we
      will not be liable for any loss or damage of any nature.



      <footer id="footer">

        <div class="footer-newsletter">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <h4>Download our App.</h4>
                <p>Download our apk version now on <a href="#" class="download-btn"><i class="bx bxl-play-store"></i>
                    Google Playstore</a>
                </p>

              </div>
            </div>
          </div>
        </div>

        <div class="footer-top">
          <div class="container">
            <div class="row">

              <div class="col-lg-3 col-md-6 footer-contact">
                <h3>Genix Booster</h3>
                <p> is Proudly sponsored by <strong>Team Genix</strong>  <img  style="height: 50px" src="{{ url_for("static", filename="assets/img/team_genix.png") }}"  class="img-fluid" alt="">

                </p>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="/home">Home</a></li>


                </ul>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> Web Development</li>
                  <li><i class="bx bx-chevron-right"></i> Counselling</li>
                  <li><i class="bx bx-chevron-right"></i> School Updates</li>
                  <li><i class="bx bx-chevron-right"></i> Marketing</li>
                  <li><i class="bx bx-chevron-right"></i> Networking</li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Social Networks</h4>
                <p>Follow Us on our Social Media handles.</p>
                <div class="social-links mt-3">
                  <a href="https://twitter.com/drdavidgenix" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="https://facebook.com/drdavidgenix" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="https://www.instagram.com/drdavidgenix" class="instagram"><i
                      class="bx bxl-instagram"></i></a>
                  <a href="https://wa.me/+2347066766410?text=Hello%20Master%20Weber%20😊😊%20I%20got%20your%20number%20from%20Genix%20Booster"
                    class="whatsapp"><i class="bx bxl-whatsapp"></i></a>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="container py-4">
          <div class="copyright">

            &copy; Copyright <strong><span>Toopland Technologies</span></strong>. All Rights Reserved
          </div>
          <div class="credits">

          </div>
        </div>
      </footer><!-- End Footer -->

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>

      <!-- Vendor JS Files -->
      <script src="{{ url_for("static", filename="assets/vendor/aos/aos.js") }}"></script>
      <script src="{{ url_for("static", filename="assets/vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
      <script src="{{ url_for("static", filename="assets/vendor/glightbox/js/glightbox.min.js") }}"></script>
      <script src="{{ url_for("static", filename="assets/vendor/isotope-layout/isotope.pkgd.min.js") }}"></script>

      <script src="{{ url_for("static", filename="assets/vendor/purecounter/purecounter.js") }}"></script>
      <script src="{{ url_for("static", filename="assets/vendor/swiper/swiper-bundle.min.js") }}"></script>
      <script src="{{ url_for("static", filename="assets/vendor/waypoints/noframework.waypoints.js") }}"></script>

      <!-- Template Main JS File -->
      <script src="{{ url_for("static", filename="assets/js/main.js") }}"></script>

      <script src="{{ url_for("static", filename="assets/js/jquery-3.5.1.min.js") }}"></script>
      <script src="{{ url_for("static", filename="assets/js/popper.min.js") }}"></script>
      <script src="{{ url_for("static", filename="assets/js/bootstrap.min.js") }}"></script>

      <!-- jQuery -->
      <script src="{{ url_for("static", filename="js/jquery-3.0.0.min.js") }}"></script>
      <script src="{{ url_for("static", filename="js/jquery-migrate-3.0.0.min.js") }}"></script>



      <!-- popper.min -->
      <script src="{{ url_for("static", filename="/popper.min.js") }}"></script>


      <!-- bootstrap -->
      <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>


      <!-- scrollIt -->
      <script src="{{ url_for("static", filename="js/scrollIt.js") }}"></script>


      <!-- jquery.waypoints.min -->
      <script src="{{ url_for("static", filename="js/jquery.waypoints.min.js") }}"></script>


      <!-- owl carousel -->
      <script src="{{ url_for("static", filename="js/owl.carousel.min.js") }}"></script>


      <!-- jquery.magnific-popup js -->
      <script src="{{ url_for("static", filename="/jquery.magnific-popup.js") }}"></script>


      <!-- stellar js -->
      <script src="{{ url_for("static", filename="js/jquery.stellar.min.js") }}"></script>


      <!-- isotope.pkgd.min js -->
      <script src="{{ url_for("static", filename="js/isotope.pkgd.min.js") }}"></script>


      <!-- YouTubePopUp.jquery -->
      <script src="{{ url_for("static", filename="js/YouTubePopUp.js") }}"></script>


      <!-- validator js -->
      <script src="{{ url_for("static", filename="js/validator.js") }}"></script>


      <!-- custom scripts -->
      <script src="{{ url_for("static", filename="js/scripts.js") }}"></script>

  </body>

</html>